<template>
  <v-container
    class="rounded elevation-3 mt-12"
    fluid>
    <div class="header ml-4">
      <v-icon
        color="white"
        large>
        mdi-account-multiple-outline
      </v-icon>
    </div>
    <v-row
      class="mt-10"
      justify="end">
      <v-col
        class="mt-10"
        cols="12">
        <v-row
          no-gutters
          justify="end">
          <v-col
            cols="12"
            lg="auto"
            class="d-flex justify-end pt-2">
            <search-box
              v-model="searchInput"
              @on-search="onSearch()" />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="users"
          :loading="loading"
          hide-default-footer>
          <template #[`item.pictureUrl`]="{ item }">
            <div class="image-container">
              <img
                v-if="item.pictureUrl"
                :src="item.pictureUrl"
                alt="profile"
                @click="showPreview(item)">
              <span
                v-else
                class="font-bold">
                No Image
              </span>
            </div>
          </template>
          <template #[`item.lastUsedCode`]="{ item }">
            {{ item.lastUsedCode || '-' }}
          </template>
          <template #[`item.action`]="{ item }">
            <v-menu
              bottom
              left>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  v-bind="attrs"
                  v-on="on">
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-item @click="clearFallback(item)">
                  <v-list-item-title>
                    Clear fallback
                  </v-list-item-title>
                </v-list-item>
                <v-list-item @click="clearCode(item)">
                  <v-list-item-title>
                    Clear used code
                  </v-list-item-title>
                </v-list-item>
                <v-list-item @click="confirmDialogToggle(item)">
                  <v-list-item-title>
                    Delete
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
        </v-data-table>
      </v-col>
      <v-col cols="12">
        <v-pagination
          id="pagination"
          v-model="page"
          :length="pageCount"
          :total-visible="7"
          circle
          color="#F44336" />
      </v-col>
    </v-row>
    <image-previewer
      v-if="isShowPreview"
      :image-url="selectedUser.pictureUrl"
      @on-close="closePreview()" />
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import UsersProvider from '../../../resources/users.provider'
import SearchBox from '../../../components/SearchBox.vue'
import ImagePreviewer from '../../../components/ImagePreviewer.vue'

const UsersService = new UsersProvider()

export default {
  components: { SearchBox, ImagePreviewer },
  data: () => ({
    loading: false,
    headers: [
      {
        text: 'Picture',
        align: 'center',
        sortable: false,
        value: 'pictureUrl',
        class: 'table-header'
      },
      {
        text: 'UID',
        align: 'center',
        sortable: false,
        value: 'uid',
        class: 'table-header'
      },
      {
        text: 'Display Name',
        align: 'center',
        sortable: false,
        value: 'displayName',
        class: 'table-header'
      },
      {
        text: 'Used code',
        align: 'center',
        sortable: false,
        value: 'lastUsedCode',
        class: 'table-header'
      },
      {
        text: '',
        align: 'center',
        sortable: false,
        value: 'action',
        class: 'table-header'
      }
    ],
    users: [],
    searchInput: '',
    page: 1,
    pageCount: 1,
    itemsPerPage: 10,
    isShowPreview: false,
    selectedUser: null
  }),
  watch: {
    page () {
      this.fetchUsers()
    }
  },
  created () {
    this.fetchUsers()
  },
  methods: {
    ...mapActions({
      setSnackbar: 'Snackbar/setSnackbar',
      setDialog: 'ConfirmDialog/setDialog',
      setLoading: 'Loading/setLoading'
    }),
    async fetchUsers (isClear = false) {
      try {
        this.loading = true

        if (isClear) {
          this.page = 1
          this.users = []
        }

        const { data } = await UsersService.getAllUsers({
          page: this.page,
          limit: this.itemsPerPage,
          search: this.searchInput || null
        })

        this.users = data.results
        this.pageCount = data.pages
      } catch (error) {
        console.error('fetchUsers', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    async clearFallback (user) {
      try {
        this.loading = true

        await UsersService.clearFallbackById(user.id)

        this.setSnackbar({
          active: true,
          text: 'Clear fallback successfully.',
          type: 'success',
          timeout: 2000
        })

        this.fetchUsers(true)
      } catch (error) {
        console.error('clearFallback', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    async clearCode (user) {
      try {
        this.loading = true

        await UsersService.clearCodeById(user.id)

        this.setSnackbar({
          active: true,
          text: 'Clear code successfully.',
          type: 'success',
          timeout: 2000
        })

        this.fetchUsers(true)
      } catch (error) {
        console.error('clearCode', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    confirmDialogToggle (user) {
      this.setDialog({
        active: true,
        title: 'Confirmation',
        text: `Do you want to delete ${user.displayName}?`,
        onConfirm: () => this.removeUser(user)
      })
    },
    async removeUser (user) {
      try {
        this.loading = true

        await UsersService.deleteUserById(user.id)

        this.setSnackbar({
          active: true,
          text: 'Delete User Successfully.',
          type: 'success',
          timeout: 2000
        })

        this.fetchUsers(true)
      } catch (error) {
        console.error('removeUser', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    onSearch () {
      this.fetchUsers(true)
    },
    showPreview (user) {
      this.isShowPreview = true
      this.selectedUser = { ...user }
    },
    closePreview () {
      this.isShowPreview = false
      this.selectedUser = null
    }
  }
}
</script>

<style scoped>
.header {
  background-color: #F44336;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;

  position: absolute;
  transform: translateY(-35%);
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.font-bold {
  font-weight: 600;
}
</style>

<style>
.table-header {
  color: #EC423A !important;
}
#pagination .v-pagination {
  justify-content: flex-end;
}
</style>
