<template>
  <v-container
    class="rounded elevation-3 mt-12"
    fluid>
    <div class="header ml-4">
      <v-icon
        color="white"
        large>
        mdi-image-multiple
      </v-icon>
    </div>

    <v-row
      class="mt-10"
      justify="end">
      <v-col
        class="mt-10"
        cols="12">
        <v-row
          v-if="!isShowForm"
          no-gutters
          justify-md="end"
          align="baseline">
          <v-col
            cols="12"
            lg="2">
            <v-select
              v-model="query.zodiac"
              :items="zodiacList"
              item-text="label"
              item-value="value"
              label="Zodiac"
              class="query-box"
              outlined
              dense
              hide-details
              required />
          </v-col>
          <v-col
            cols="12"
            lg="2">
            <v-select
              v-model="query.birth"
              :items="birthList"
              item-text="label"
              item-value="value"
              label="Birth"
              class="query-box"
              outlined
              dense
              hide-details
              required />
          </v-col>
          <v-col
            cols="12"
            lg="2">
            <v-select
              v-model="query.luck"
              :items="luckList"
              item-text="label"
              item-value="value"
              label="Luck"
              class="query-box"
              outlined
              dense
              hide-details
              required />
          </v-col>
          <v-col cols="auto">
            <v-btn
              class="query-button mr-1"
              color="default"
              fab
              small
              @click="fetchAnswers(true)">
              <v-icon>mdi-magnify</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="auto">
            <v-btn
              class="query-button"
              color="#4CAF50"
              fab
              small
              :loading="loading"
              @click="addAnswer()">
              <v-icon color="white">
                mdi-plus
              </v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row v-if="!isShowForm">
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="answers"
          :loading="loading"
          hide-default-footer>
          <template #[`item.zodiac`]="{ item }">
            {{ getAnswer(item.zodiac, 'zodiac') }}
          </template>
          <template #[`item.birth`]="{ item }">
            {{ getAnswer(item.birth, 'birth') }}
          </template>
          <template #[`item.luck`]="{ item }">
            {{ getAnswer(item.luck, 'luck') }}
          </template>
          <template #[`item.image`]="{ item }">
            <div class="image-container">
              <img
                v-if="item.image"
                :src="item.image"
                alt="profile"
                @click="showPreview(item)">
              <span
                v-else
                class="font-bold">
                No Image
              </span>
            </div>
          </template>
          <template #[`item.action`]="{ item }">
            <v-btn
              class="mx-1"
              color="#FCB75F"
              fab
              x-small
              :disabled="loading"
              @click="showAnswerDetail(item)">
              <v-icon color="white">
                mdi-pencil-outline
              </v-icon>
            </v-btn>
            <v-btn
              class="mx-1"
              color="#E91E63"
              fab
              x-small
              :disabled="loading"
              @click="confirmDialogToggle(item)">
              <v-icon color="white">
                mdi-delete-variant
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
      <v-col cols="12">
        <v-pagination
          id="pagination"
          v-model="page"
          :length="pageCount"
          :total-visible="7"
          circle
          color="#F44336" />
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col cols="12">
        <answer-form
          v-model="formData"
          :is-edit="isEdit"
          @on-submit="onAnswerFormSubmit()"
          @on-close="onAnswerFormClose()" />
      </v-col>
    </v-row>
    <image-previewer
      v-if="isShowPreview"
      :image-url="selectedAnswer.image"
      @on-close="closePreview()" />
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import AnswersProvider from '../../../resources/answers.provider'
import AnswerForm from '../components/AnswerForm.vue'
import Answers from '../../../assets/json/answers.json'
import ImagePreviewer from '../../../components/ImagePreviewer.vue'

const AnswersService = new AnswersProvider()

export default {
  components: { AnswerForm, ImagePreviewer },
  data () {
    return {
      loading: false,
      headers: [
        {
          text: 'Zodiac',
          align: 'center',
          sortable: false,
          value: 'zodiac',
          class: 'table-header'
        },
        {
          text: 'Birth',
          align: 'center',
          sortable: false,
          value: 'birth',
          class: 'table-header'
        },
        {
          text: 'Luck',
          align: 'center',
          sortable: false,
          value: 'luck',
          class: 'table-header'
        },
        {
          text: 'Image',
          align: 'center',
          sortable: false,
          value: 'image',
          class: 'table-header'
        },
        {
          text: 'Action',
          align: 'center',
          sortable: false,
          value: 'action',
          class: 'table-header'
        }
      ],
      answerList: Answers,
      zodiacList: [
        {
          label: 'ทั้งหมด',
          value: null
        },
        ...Answers.zodiac
      ],
      birthList: [
        {
          label: 'ทั้งหมด',
          value: null
        },
        ...Answers.birth
      ],
      luckList: [
        {
          label: 'ทั้งหมด',
          value: null
        },
        ...Answers.luck
      ],
      answers: [],
      query: {
        zodiac: null,
        birth: null,
        luck: null
      },
      page: 1,
      pageCount: 1,
      itemsPerPage: 10,
      isShowForm: false,
      isEdit: false,
      isShowPreview: false,
      selectedAnswer: null,
      formData: {
        zodiac: '1',
        birth: '1',
        luck: '1',
        image: null
      }
    }
  },
  watch: {
    page () {
      this.fetchAnswers()
    },
    query: {
      handler () {
        this.fetchAnswers(true)
      },
      deep: true
    }
  },
  created () {
    this.fetchAnswers()
  },
  methods: {
    ...mapActions({
      setSnackbar: 'Snackbar/setSnackbar',
      setDialog: 'ConfirmDialog/setDialog'
    }),
    getAnswer (item, type) {
      const ans = this.answerList[type]?.find((z) => z.value === item)

      return ans?.label || item
    },
    async fetchAnswers (isClear = false) {
      try {
        this.loading = true

        if (isClear) {
          this.page = 1
          this.answers = []
        }

        const { data } = await AnswersService.getAllAnswers({
          page: this.page,
          limit: this.itemsPerPage,
          zodiac: this.query.zodiac,
          birth: this.query.birth,
          luck: this.query.luck
        })

        this.answers = data.results
        this.pageCount = data.pages
      } catch (error) {
        console.error('fetchAnswers', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    addAnswer () {
      this.isEdit = false
      this.isShowForm = true
    },
    showAnswerDetail (answer) {
      this.formData = { ...answer }
      this.isEdit = true
      this.isShowForm = true
    },
    confirmDialogToggle (answer) {
      this.setDialog({
        active: true,
        title: 'Confirmation',
        text: 'Do you want to delete this answer?',
        onConfirm: () => this.removeAnswer(answer)
      })
    },
    async removeAnswer (answer) {
      try {
        this.loading = true

        await AnswersService.deleteAnswerById(answer.id)

        this.setSnackbar({
          active: true,
          text: 'Delete Answer Successfully.',
          type: 'success',
          timeout: 2000
        })

        this.fetchAnswers(true)
      } catch (error) {
        console.error('removeAnswer', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    async onAnswerFormSubmit () {
      try {
        this.loading = true

        if (this.isEdit) {
          await AnswersService.updateAnswerById(this.formData)
          this.setSnackbar({
            active: true,
            text: 'Update Answer Successfully.',
            type: 'success',
            timeout: 2000
          })
        } else {
          await AnswersService.createAnswer(this.formData)
          this.setSnackbar({
            active: true,
            text: 'Add Answer Successfully.',
            type: 'success',
            timeout: 2000
          })
        }

        this.fetchAnswers(true)
        this.onAnswerFormClose()
      } catch (error) {
        console.error('onAnswerFormSubmit', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    onAnswerFormClose () {
      this.isEdit = false
      this.isShowForm = false
      this.formData = {
        zodiac: '1',
        birth: '1',
        luck: '1',
        image: null
      }
    },
    showPreview (user) {
      this.isShowPreview = true
      this.selectedAnswer = { ...user }
    },
    closePreview () {
      this.isShowPreview = false
      this.selectedAnswer = null
    }
  }
}
</script>

<style scoped>
.header {
  background-color: #F44336;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;

  position: absolute;
  transform: translateY(-35%);
}
.capitalize {
  text-transform: capitalize;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
}
.image-container img {
  padding: 5px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.font-bold {
  font-weight: 600;
}
.query-box {
  margin: 0 4px;
}
.query-button {
  margin: 0 0 8px 4px;
}

@media screen and (max-width: 768px) {
  .query-box {
    margin: 4px 0;
  }
  .query-button {
    margin: 0 4px;
  }
}
</style>

<style>
.table-header {
  color: #EC423A !important;
}
#pagination .v-pagination {
  justify-content: flex-end;
}
</style>
