<template>
  <v-container
    class="rounded elevation-3 mt-12"
    fluid>
    <div class="header ml-4">
      <v-icon
        color="white"
        large>
        mdi-ticket-percent-outline
      </v-icon>
    </div>

    <v-row
      class="mt-10"
      justify="end">
      <v-col
        class="mt-10"
        cols="12">
        <v-row
          v-if="!isShowForm"
          no-gutters
          justify-md="end"
          align="baseline">
          <v-col
            cols="12"
            lg="2">
            <v-select
              v-model="query.status"
              :items="statusList"
              item-text="label"
              item-value="value"
              label="Status"
              class="query-box"
              outlined
              dense
              hide-details
              required />
          </v-col>
          <v-col
            cols="8"
            md="auto">
            <search-box
              v-model="query.search"
              class="query-box"
              @on-search="fetchCodes(true)" />
          </v-col>
          <v-col cols="auto">
            <v-btn
              class="query-button"
              color="#4CAF50"
              fab
              small
              :loading="loading"
              @click="addCode()">
              <v-icon color="white">
                mdi-plus
              </v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row v-if="!isShowForm">
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="codes"
          :loading="loading"
          hide-default-footer>
          <template #[`item.usedBy`]="{ item }">
            <span>{{ getUsedBy(item.usedBy) }}</span>
          </template>
          <template #[`item.status`]="{ item }">
            <span class="capitalize">
              {{ item.status }}
            </span>
          </template>
          <template #[`item.action`]="{ item }">
            <v-btn
              class="mx-1"
              color="#FCB75F"
              fab
              x-small
              :disabled="loading"
              @click="showCodeDetail(item)">
              <v-icon color="white">
                mdi-pencil-outline
              </v-icon>
            </v-btn>
            <v-btn
              class="mx-1"
              color="#E91E63"
              fab
              x-small
              :disabled="loading"
              @click="confirmDialogToggle(item)">
              <v-icon color="white">
                mdi-delete-variant
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
      <v-col cols="12">
        <v-pagination
          id="pagination"
          v-model="page"
          :length="pageCount"
          :total-visible="7"
          circle
          color="#F44336" />
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col cols="12">
        <code-form
          v-model="formData"
          :is-edit="isEdit"
          @on-submit="onCodeFormSubmit()"
          @on-close="onCodeFormClose()" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import CodesProvider from '../../../resources/codes.provider'
import SearchBox from '../../../components/SearchBox.vue'
import CodeForm from '../components/CodeForm.vue'

const CodesService = new CodesProvider()

export default {
  components: { SearchBox, CodeForm },
  data () {
    return {
      loading: false,
      headers: [
        {
          text: 'Code',
          align: 'center',
          sortable: false,
          value: 'code',
          class: 'table-header'
        },
        {
          text: 'Used By',
          align: 'center',
          sortable: false,
          value: 'usedBy',
          class: 'table-header'
        },
        {
          text: 'Status',
          align: 'center',
          sortable: false,
          value: 'status',
          class: 'table-header'
        },
        {
          text: 'Action',
          align: 'center',
          sortable: false,
          value: 'action',
          class: 'table-header'
        }
      ],
      statusList: [
        {
          label: 'ทั้งหมด',
          value: null
        },
        {
          label: 'ยังไม่ใช้',
          value: 'unused'
        },
        {
          label: 'ใช้แล้ว',
          value: 'used'
        }
      ],
      codes: [],
      query: {
        search: '',
        status: null
      },
      page: 1,
      pageCount: 1,
      itemsPerPage: 10,
      isShowForm: false,
      isEdit: false,
      formData: {
        code: '',
        usedBy: null,
        status: 'unused',
        file: null
      }
    }
  },
  watch: {
    page () {
      this.fetchCodes()
    },
    'query.status': {
      handler () {
        this.fetchCodes(true)
      },
      deep: true
    }
  },
  created () {
    this.fetchCodes()
  },
  methods: {
    ...mapActions({
      setSnackbar: 'Snackbar/setSnackbar',
      setDialog: 'ConfirmDialog/setDialog',
      setLoading: 'Loading/setLoading'
    }),
    getUsedBy (usedBy) {
      if (!usedBy || !usedBy?.uid) {
        return '-'
      }

      return `${usedBy?.displayName || '-'} (${usedBy.uid})`
    },
    async fetchCodes (isClear = false) {
      try {
        this.loading = true

        if (isClear) {
          this.page = 1
          this.codes = []
        }

        const { data } = await CodesService.getAllCodes({
          page: this.page,
          limit: this.itemsPerPage,
          search: this.query.search || null,
          status: this.query.status
        })

        this.codes = data.results
        this.pageCount = data.pages
      } catch (error) {
        console.error('fetchCodes', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    addCode () {
      this.isEdit = false
      this.isShowForm = true
    },
    showCodeDetail (code) {
      this.formData = { ...code }
      this.isEdit = true
      this.isShowForm = true
    },
    confirmDialogToggle (code) {
      this.setDialog({
        active: true,
        title: 'Confirmation',
        text: `Do you want to delete ${code.code}?`,
        onConfirm: () => this.removeCode(code)
      })
    },
    async removeCode (code) {
      try {
        this.loading = true

        await CodesService.deleteCodeById(code.id)

        this.setSnackbar({
          active: true,
          text: 'Delete Code Successfully.',
          type: 'success',
          timeout: 2000
        })

        this.fetchCodes(true)
      } catch (error) {
        console.error('removeCode', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    async onCodeFormSubmit () {
      try {
        this.loading = true
        this.setLoading(true)

        if (this.isEdit) {
          await CodesService.updateCodeById(this.formData)
          this.setSnackbar({
            active: true,
            text: 'Update Code Successfully.',
            type: 'success',
            timeout: 2000
          })
        } else {
          if (this.formData.file) {
            await CodesService.importCodes(this.formData.file.file)
          } else {
            await CodesService.createCode(this.formData)
          }

          this.setSnackbar({
            active: true,
            text: 'Add Code Successfully.',
            type: 'success',
            timeout: 2000
          })
        }

        this.fetchCodes(true)
        this.onCodeFormClose()
      } catch (error) {
        console.error('onCodeFormSubmit', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
        this.setLoading(false)
      }
    },
    onCodeFormClose () {
      this.isEdit = false
      this.isShowForm = false
      this.formData = {
        code: '',
        usedBy: null,
        status: 'unused'
      }
    }
  }
}
</script>

<style scoped>
.header {
  background-color: #F44336;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;

  position: absolute;
  transform: translateY(-35%);
}
.capitalize {
  text-transform: capitalize;
}
.query-box {
  margin: 0 4px;
}
.query-button {
  margin: 0 0 8px 12px;
}

@media screen and (max-width: 768px) {
  .query-box {
    margin: 4px 0;
  }
  .query-button {
    margin: 0 4px 6px 6px;
  }
}
</style>

<style>
.table-header {
  color: #EC423A !important;
}
#pagination .v-pagination {
  justify-content: flex-end;
}
</style>
