<template>
  <div class="login-container">
    <v-dialog
      :value="true"
      persistent
      max-width="360">
      <v-card>
        <v-card-title class="text-h5 mb-3">
          Login
        </v-card-title>
        <v-card-text>
          <v-form
            ref="form"
            v-model="validate">
            <v-row no-gutters>
              <v-col cols="12">
                <v-text-field
                  v-model="formData.username"
                  :rules="textBoxRules"
                  label="Username"
                  color="secondary"
                  dense
                  outlined
                  :disabled="loading"
                  @keydown.enter="signIn()" />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="formData.password"
                  :rules="textBoxRules"
                  type="password"
                  label="Password"
                  color="secondary"
                  dense
                  outlined
                  :disabled="loading"
                  @keydown.enter="signIn()" />
              </v-col>
              <v-col cols="12">
                <v-row justify="center">
                  <v-col cols="auto">
                    <v-btn
                      color="red darken-1"
                      dark
                      :loading="loading"
                      @click="signIn()">
                      Sign In
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import AdminsProvider from '../resources/admins.provider'
import AuthProvider from '../resources/auth.provider'
import { setAuthUser, clearAuth, getAuthDecode } from '../utils/auth.utils'

const AuthService = new AuthProvider()
const AdminsService = new AdminsProvider()

export default {
  data () {
    return {
      loading: false,
      validate: false,
      formData: {
        username: '',
        password: ''
      },
      textBoxRules: [
        (v) => !!v || 'Field is required!'
      ]
    }
  },
  async mounted () {
    if (this.$route.name === 'Logout') {
      this.setUser(null)
      clearAuth()
    } else if (this.$route.name === 'Login' && getAuthDecode()) {
      const { data: user } = await AdminsService.getAdminByUsername(this.formData.username)
      this.setUser(user)

      this.$router.push({ name: 'Codes' })
    }
  },
  methods: {
    ...mapActions({
      setSnackbar: 'Snackbar/setSnackbar',
      setUser: 'Users/setUser'
    }),
    async signIn () {
      if (this.$refs.form.validate()) {
        try {
          this.loading = true

          const data = await AuthService.login(this.formData)

          if (data) {
            setAuthUser(data.accessToken)

            const { data: user } = await AdminsService.getAdminByUsername(this.formData.username)
            this.setUser(user)

            this.$router.push({ name: 'Codes' })
            this.formData = {
              username: '',
              password: ''
            }
          }
        } catch (error) {
          console.error('signIn', error)
          this.setSnackbar({
            active: true,
            text: error?.message || null,
            type: 'error',
            timeout: 2000
          })
        } finally {
          this.loading = false
        }
      }
    }
  }
}
</script>
