<template>
  <v-dialog
    v-model="dialog.active"
    persistent
    max-width="400"
  >
    <v-card>
      <v-card-title class="text-h5">
        {{ dialog.title }}
      </v-card-title>
      <v-card-text>
        {{ dialog.text }}
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="#EC423A"
          dark
          @click="onAgree()">
          Yes
        </v-btn>
        <v-btn
          color="#444444"
          dark
          @click="onDisagree()">
          No
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      dialog: 'ConfirmDialog/dialog'
    })
  },
  methods: {
    ...mapActions({
      setDialog: 'ConfirmDialog/setDialog'
    }),
    onAgree () {
      this.dialog.onConfirm()
      this.setDialog({
        active: false,
        title: '',
        text: '',
        onConfirm: null
      })
    },
    onDisagree () {
      this.setDialog({
        active: false,
        title: '',
        text: '',
        onConfirm: null
      })
    }
  }
}
</script>
