<template>
  <div class="w-full">
    <v-file-input
      :label="label"
      truncate-length="20"
      prepend-icon=""
      append-outer-icon="mdi-paperclip"
      :accept="accept"
      :disabled="loading"
      @change="uploadFile($event)" />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import UploaderProvider from '../resources/uploader.provider'

const UploaderService = new UploaderProvider()

export default {
  props: {
    value: {
      type: Object,
      default: null
    },
    label: {
      type: String,
      default: ''
    },
    accept: {
      type: String,
      default: '.txt'
    },
    autoUpload: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      loading: false,
      isShowPreview: false
    }
  },
  computed: {
    selectedFile: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    ...mapActions({
      setSnackbar: 'Snackbar/setSnackbar'
    }),
    async uploadFile (file) {
      if (!file) {
        return
      }

      try {
        this.loading = true

        if (this.autoUpload) {
          const { data } = await UploaderService.uploadFile(file)

          this.selectedFile = {
            file,
            label: file.name,
            mediaUrl: data.public_url
          }
        } else {
          this.selectedFile = {
            file,
            label: file.name,
            mediaUrl: null
          }
        }
      } catch (error) {
        console.error('uploadFile', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>
.w-full {
  width: 100%;
}
.image-container {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  cursor: pointer;
}
.close-btn-container {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  margin: 0.25rem 0.25rem 0 0;
}
.close-btn {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  background-color: black;
  opacity: 0.5;
  transition: .5s;
  cursor: pointer;
}
.close-btn:hover {
  opacity: 1;
}
</style>
