<template>
  <div class="image-preview-container">
    <div class="image-container rounded elevation-3">
      <img
        class="rounded"
        :src="imageUrl"
        :alt="altText">
      <div
        class="close-btn-container"
        @click="closePreview()">
        <div class="close-btn d-flex justify-center align-center">
          <v-icon
            color="white"
            small>
            mdi-close
          </v-icon>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    imageUrl: {
      type: String,
      default: ''
    },
    altText: {
      type: String,
      default: 'Preview Image'
    }
  },
  methods: {
    closePreview () {
      this.$emit('on-close')
    }
  }
}
</script>

<style scoped>
.image-preview-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 205;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  position: relative;
  width: 95%;
  height: 95%;
  background-color: white;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.close-btn-container {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  margin: 0.25rem 0.25rem 0 0;
}
.close-btn {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  background-color: black;
  opacity: 0.5;
  transition: .5s;
  cursor: pointer;
}
.close-btn:hover {
  opacity: 1;
}
</style>
