<template>
  <div class="w-full h-full overflow-x-hidden">
    <div
      v-if="items.length"
      class="w-full h-full images-container py-1">
      <div
        v-for="(image, i) in items"
        :key="i"
        class="image-container mx-1"
        :class="checkImageUrl(image)">
        <img
          :src="image.preview"
          :alt="`Image-${i}`"
          @click="showPreview(image.preview)">
        <div
          class="close-btn-container"
          @click="removeItem(i)">
          <div class="close-btn d-flex justify-center align-center">
            <v-icon
              color="white"
              small>
              mdi-close
            </v-icon>
          </div>
        </div>
      </div>
      <div
        v-if="!isMaxFile()"
        class="image-uploader-container mx-1"
        @dragover.prevent
        @drop.prevent="drop($event)"
        @click="chooseFile()">
        <input
          id="fileBrowser"
          type="file"
          :multiple="multiple"
          style="display:none"
          @change="uploadFromInput()" />
        <v-icon large>
          mdi-upload
        </v-icon>
        <span class="text-center">
          Click or drag to upload.
        </span>
      </div>
    </div>
    <div
      v-else
      class="image-uploader-container-single"
      @dragover.prevent
      @drop.prevent="drop($event)"
      @click="chooseFile()">
      <input
        id="fileBrowser"
        type="file"
        :multiple="multiple"
        style="display:none"
        @change="uploadFromInput()" />
      <v-icon large>
        mdi-upload
      </v-icon>
      <span class="text-center">
        Click or drag to upload.
      </span>
    </div>
    <image-previewer
      v-if="showPreviewImage.active"
      :image-url="showPreviewImage.imageUrl"
      @on-close="closePreview()" />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import UploaderProvider from '../resources/uploader.provider'
import ImagePreviewer from './ImagePreviewer.vue'

const UploaderService = new UploaderProvider()

export default {
  components: { ImagePreviewer },
  props: {
    value: {
      type: Array,
      default: () => []
    },
    maxFile: {
      type: Number,
      default: null
    },
    multiple: {
      type: Boolean,
      default: false
    },
    autoUpload: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      showPreviewImage: {
        active: false,
        imageUrl: null
      }
    }
  },
  computed: {
    items: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    ...mapActions({
      setSnackbar: 'Snackbar/setSnackbar'
    }),
    chooseFile () {
      document.getElementById('fileBrowser').click()
    },
    uploadFromInput () {
      const { files } = document.getElementById('fileBrowser')
      this.uploadFiles(files)
    },
    drop (e) {
      const { files } = e.dataTransfer
      this.uploadFiles(files)
    },
    getBase64 (file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()

        reader.onloadend = (f) => {
          resolve({
            file,
            preview: f.target.result,
            mediaUrl: null
          })
        }

        reader.onerror = () => {
          reject(reader)
        }

        reader.readAsDataURL(file)
      })
    },
    async uploadFiles (files) {
      try {
        const previewPromises = []
        const len = this.items.length

        for (const file of files) {
          if (!this.maxFile || this.items < this.maxFile) {
            previewPromises.push(this.getBase64(file))
          }
        }

        const previewResults = await Promise.all(previewPromises)
        this.items.push(...previewResults)

        if (this.autoUpload) {
          const resultPromises = []
          for (const file of files) {
            resultPromises.push(UploaderService.uploadFile(file))
          }

          const results = await Promise.all(resultPromises)
          for (const [index, result] of results.entries()) {
            this.items[len + index].mediaUrl = result.data.public_url
          }
        }
      } catch (error) {
        console.error('uploadFiles', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      }
    },
    removeItem (index) {
      this.items.splice(index, 1)
    },
    isMaxFile () {
      return this.maxFile && (this.items.length === this.maxFile)
    },
    showPreview (imageUrl) {
      this.showPreviewImage = {
        active: true,
        imageUrl
      }
    },
    closePreview () {
      this.showPreviewImage = {
        active: false,
        imageUrl: null
      }
    },
    checkImageUrl (image) {
      return (image?.mediaUrl || !this.autoUpload) ? 'opacity-full' : 'opacity-half'
    }
  }
}
</script>

<style scoped>
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.image-uploader-container-single {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.image-uploader-container {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-style: dashed;
  border-radius: 0.25rem;
  cursor: pointer;
}
.icon {
  width: 2.5rem;
  height: 2.5rem;
}
.close-btn-container {
  position: absolute;
  z-index: 200;
  right: 0;
  top: 0;
  margin: 0.25rem 0.25rem 0 0;
}
.close-btn {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  background-color: black;
  opacity: 0.5;
  transition: .5s;
  cursor: pointer;
}
.close-btn:hover {
  opacity: 1;
}
.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}
.image-container {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  cursor: pointer;
}
.opacity-half {
  opacity: 0.5;
}
.opacity-full {
  opacity: 1;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
</style>
