<template>
  <div class="loading-container">
    <v-progress-circular
      :size="70"
      :width="7"
      color="red"
      indeterminate />
  </div>
</template>

<style scoped>
.loading-container {
  position: fixed;
  z-index: 299;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
