<template>
  <form
    class="w-full"
    @submit.prevent="onSearch()">
    <v-row
      justify="end"
      align="center">
      <v-col
        cols="8"
        md="9">
        <v-text-field
          v-model="search"
          label="Search"
          hide-details
          dense
          color="secondary" />
      </v-col>
      <v-col cols="auto">
        <v-btn
          color="default"
          fab
          small
          @click="onSearch()">
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </form>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  computed: {
    search: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    onSearch () {
      this.$emit('on-search')
    }
  }
}
</script>

<style scoped>
.w-full {
  width: 100%;
  max-width: 350px;
}
</style>
