<template>
  <v-container
    class="rounded elevation-3 mt-12"
    fluid>
    <div class="header ml-4">
      <v-icon
        color="white"
        large>
        mdi-account-multiple
      </v-icon>
    </div>
    <v-row
      class="mt-10"
      justify="end">
      <v-col
        class="mt-10"
        cols="12"
        lg="4">
        <v-row
          v-if="!isShowForm"
          no-gutters
          justify="end">
          <v-col
            cols="10"
            class="d-flex justify-end">
            <search-box
              v-model="searchInput"
              @on-search="onSearch()" />
          </v-col>
          <v-col cols="2">
            <v-btn
              class="ml-2"
              color="#4CAF50"
              fab
              small
              :loading="loading"
              @click="addUser()">
              <v-icon color="white">
                mdi-account-plus
              </v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row v-if="!isShowForm">
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="users"
          :loading="loading"
          hide-default-footer>
          <template #[`item.action`]="{ item }">
            <v-btn
              class="mx-1"
              color="#FCB75F"
              fab
              x-small
              :disabled="loading"
              @click="editUser(item)">
              <v-icon color="white">
                mdi-pencil-outline
              </v-icon>
            </v-btn>
            <v-btn
              class="mx-1"
              color="#E91E63"
              fab
              x-small
              :disabled="loading"
              @click="confirmDialogToggle(item)">
              <v-icon color="white">
                mdi-delete-variant
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
      <v-col cols="12">
        <v-pagination
          id="pagination"
          v-model="page"
          :length="pageCount"
          :total-visible="7"
          circle
          color="#F44336" />
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col cols="12">
        <admin-form
          v-model="formData"
          @on-submit="onAdminFormSubmit()"
          @on-close="onAdminFormClose()" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import AdminsProvider from '../../../resources/admins.provider'
import SearchBox from '../../../components/SearchBox.vue'
import AdminForm from '../components/AdminForm.vue'

const AdminsService = new AdminsProvider()

export default {
  components: { SearchBox, AdminForm },
  data: () => ({
    loading: false,
    headers: [
      {
        text: 'Firstname',
        align: 'center',
        sortable: false,
        value: 'firstName',
        class: 'table-header'
      },
      {
        text: 'Lastname',
        align: 'center',
        sortable: false,
        value: 'lastName',
        class: 'table-header'
      },
      {
        text: 'Email',
        align: 'center',
        sortable: false,
        value: 'email',
        class: 'table-header'
      },
      {
        text: 'Tel.',
        align: 'center',
        sortable: false,
        value: 'tel',
        class: 'table-header'
      },
      {
        text: 'Username',
        align: 'center',
        sortable: false,
        value: 'username',
        class: 'table-header'
      },
      {
        text: 'Action',
        align: 'center',
        sortable: false,
        value: 'action',
        class: 'table-header'
      }
    ],
    users: [],
    searchInput: '',
    page: 1,
    pageCount: 1,
    itemsPerPage: 10,
    isShowForm: false,
    isEdit: false,
    formData: {
      username: '',
      password: '',
      firstName: '',
      lastName: '',
      email: '',
      tel: ''
    }
  }),
  computed: {
    ...mapGetters({
      user: 'Users/user'
    })
  },
  watch: {
    page () {
      this.fetchUsers()
    }
  },
  created () {
    this.fetchUsers()
  },
  methods: {
    ...mapActions({
      setSnackbar: 'Snackbar/setSnackbar',
      setDialog: 'ConfirmDialog/setDialog'
    }),
    async fetchUsers (isClear = false) {
      try {
        this.loading = true

        if (isClear) {
          this.page = 1
          this.users = []
        }

        const { data } = await AdminsService.getAllAdmins({
          page: this.page,
          limit: this.itemsPerPage,
          search: this.searchInput || null
        })

        this.users = data.results
        this.pageCount = data.pages
      } catch (error) {
        console.error('fetchUsers', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    addUser () {
      this.isShowForm = true
      this.isEdit = false
    },
    editUser (user) {
      this.isShowForm = true
      this.isEdit = true
      this.formData = {
        ...user,
        password: ''
      }
    },
    confirmDialogToggle (user) {
      this.setDialog({
        active: true,
        title: 'Confirmation',
        text: `Do you want to delete ${user.firstName}?`,
        onConfirm: () => this.removeUser(user)
      })
    },
    async removeUser (user) {
      try {
        this.loading = true

        await AdminsService.deleteAdminById(user.id)

        this.setSnackbar({
          active: true,
          text: 'Delete User Successfully.',
          type: 'success',
          timeout: 2000
        })

        if (this.user.id === user.id) {
          this.$router.push({ name: 'Logout' })
        } else {
          this.fetchUsers(true)
        }
      } catch (error) {
        console.error('removeUser', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    onSearch () {
      this.fetchUsers(true)
    },
    async onAdminFormSubmit () {
      try {
        this.loading = true

        if (!this.isEdit) {
          await AdminsService.create(this.formData)
        } else {
          await AdminsService.updateAdminById(this.formData)
        }

        this.setSnackbar({
          active: true,
          text: `${this.isEdit ? 'Edit' : 'Add'} User Successfully.`,
          type: 'success',
          timeout: 2000
        })

        this.fetchUsers(true)
        this.onAdminFormClose()
      } catch (error) {
        console.error('onAdminFormSubmit', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    onAdminFormClose () {
      this.isShowForm = false
      this.isEdit = false
      this.formData = {
        username: '',
        password: '',
        firstName: '',
        lastName: '',
        email: '',
        tel: ''
      }
    }
  }
}
</script>

<style scoped>
.header {
  background-color: #F44336;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;

  position: absolute;
  transform: translateY(-35%);
}
</style>

<style>
.table-header {
  color: #EC423A !important;
}
#pagination .v-pagination {
  justify-content: flex-end;
}
</style>
