<template>
  <v-container class="mt-10">
    <v-form
      ref="form"
      v-model="validate">
      <v-row>
        <v-col
          cols="12"
          lg="6">
          <v-text-field
            v-model="formData.firstName"
            label="First Name"
            :rules="textBoxRules"
            hide-details
            required />
        </v-col>
        <v-col
          cols="12"
          lg="6">
          <v-text-field
            v-model="formData.lastName"
            label="Last Name"
            :rules="textBoxRules"
            hide-details
            required />
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
          lg="6">
          <v-text-field
            v-model="formData.email"
            label="Email"
            type="email"
            hide-details />
        </v-col>
        <v-col
          cols="12"
          lg="6">
          <v-text-field
            v-model="formData.tel"
            label="Tel."
            :rules="telBoxRules"
            hide-details
            required />
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
          lg="6">
          <v-text-field
            v-model="formData.username"
            label="Username"
            :rules="textBoxRules"
            hide-details
            required />
        </v-col>
        <v-col
          cols="12"
          lg="6">
          <v-text-field
            v-model="formData.password"
            label="Password"
            type="password"
            :rules="textBoxRules"
            hide-details
            required />
        </v-col>
      </v-row>
      <v-row justify="end">
        <v-col
          cols="6"
          lg="3">
          <v-btn
            width="100%"
            color="#EC423A"
            dark
            @click="onSubmit()">
            Submit
          </v-btn>
        </v-col>
        <v-col
          cols="6"
          lg="3">
          <v-btn
            width="100%"
            color="#444444"
            dark
            @click="onClose()">
            Back
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    value: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      textBoxRules: [
        (v) => !!v || 'Field is required!'
      ],
      telBoxRules: [
        (v) => !!v || 'Field is required!',
        (v) => /\d{10}/g.test(v) || 'Tel must be valid'
      ],
      validate: false
    }
  },
  computed: {
    formData: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    ...mapActions({
      setSnackbar: 'Snackbar/setSnackbar',
      setLoading: 'Loading/setLoading'
    }),
    onSubmit () {
      if (this.$refs.form.validate()) {
        this.$emit('on-submit')
      }
    },
    onClose () {
      this.$emit('on-close')
    }
  }
}
</script>

<style scoped>
.header {
  background-color: #F44336;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;

  position: absolute;
  transform: translateY(-35%);
}
</style>

<style>
.table-header {
  color: #EC423A !important;
}
#pagination .v-pagination {
  justify-content: flex-end;
}
</style>
