<template>
  <v-container>
    <v-tabs
      v-model="tabs"
      color="#EC423A">
      <v-tab>Form</v-tab>
      <v-tab v-if="!isEdit">
        Import
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tabs">
      <v-tab-item class="py-5">
        <v-form
          ref="form"
          v-model="validate">
          <v-row align="baseline">
            <v-col
              cols="12"
              lg="6">
              <v-row align="baseline">
                <v-col cols="auto">
                  <v-btn
                    outlined
                    color="secondary"
                    :disabled="isEdit"
                    @click="randomCode()">
                    RANDOM
                  </v-btn>
                </v-col>
                <v-col cols="9">
                  <v-text-field
                    v-model="formData.code"
                    label="Code"
                    :rules="textBoxRules"
                    :disabled="isEdit"
                    hide-details
                    required />
                </v-col>
              </v-row>
            </v-col>
            <v-col
              cols="12"
              lg="6">
              <v-row align="baseline">
                <v-col cols="10">
                  <v-text-field
                    :value="getDisplayName()"
                    label="Used By"
                    readonly
                    hide-details
                    required
                    @click="showUserSelector()" />
                </v-col>
                <v-col cols="auto">
                  <v-btn
                    color="#444444"
                    icon
                    fab
                    dark
                    x-small
                    @click="clearSelected()">
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
            <v-col
              cols="12"
              lg="6">
              <v-select
                v-model="formData.status"
                :items="codeStatus"
                item-text="label"
                item-value="value"
                label="Status"
                hide-details
                required />
            </v-col>
          </v-row>
        </v-form>
      </v-tab-item>
      <v-tab-item class="py-5">
        <v-row>
          <v-col
            cols="12"
            md="6">
            <file-uploader
              v-model="formData.file"
              label="Code List" />
          </v-col>
        </v-row>
      </v-tab-item>
    </v-tabs-items>
    <v-row
      class="mt-4"
      justify="end">
      <v-col
        cols="6"
        lg="3">
        <v-btn
          width="100%"
          color="#EC423A"
          dark
          @click="onSubmit()">
          Submit
        </v-btn>
      </v-col>
      <v-col
        cols="6"
        lg="3">
        <v-btn
          width="100%"
          color="#444444"
          dark
          @click="onClose()">
          Back
        </v-btn>
      </v-col>
    </v-row>
    <user-selector
      v-model="isShowSelector"
      @on-select="onSelectUser($event)" />
  </v-container>
</template>

<script>
import FileUploader from '../../../components/FileUploader.vue'
import UserSelector from './UserSelector.vue'

const characters = '0123456789'

export default {
  components: { UserSelector, FileUploader },
  props: {
    value: {
      type: Object,
      default: () => {}
    },
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      tabs: null,
      codeStatus: [
        {
          label: 'Unused',
          value: 'unused'
        },
        {
          label: 'Used',
          value: 'used'
        },
        {
          label: 'Deleted',
          value: 'deleted'
        }
      ],
      textBoxRules: [
        (v) => !!v || 'Field is required!'
      ],
      isShowSelector: false,
      validate: false
    }
  },
  computed: {
    formData: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    randomCode () {
      let result = ''

      for (let i = 0; i < 7; i++) {
          result += characters.charAt(Math.floor(Math.random() * characters.length))
      }

      this.formData.code = result
    },
    getDisplayName () {
      if (!this.formData?.usedBy) {
        return '-'
      }

      return this.formData.usedBy?.displayName || this.formData.usedBy?.uid
    },
    showUserSelector () {
      this.isShowSelector = true
    },
    onSelectUser (user) {
      this.formData.usedBy = {
        uid: user.uid,
        displayName: user.displayName
      }

      this.isShowSelector = false
    },
    clearSelected () {
      this.formData.usedBy = null
    },
    onSubmit () {
      if (!this.formData.file && this.$refs.form.validate()) {
        this.$emit('on-submit')
      }

      if (this.formData.file) {
        this.$emit('on-submit')
      }
    },
    onClose () {
      this.$emit('on-close')
    }
  }
}
</script>

<style scoped>
.header {
  background-color: #F44336;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;

  position: absolute;
  transform: translateY(-35%);
}
</style>

<style>
.table-header {
  color: #EC423A !important;
}
#pagination .v-pagination {
  justify-content: flex-end;
}
</style>
