<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="60vw">
    <v-card>
      <v-card-title>
        <v-row justify="space-between">
          <v-col cols="auto">
            <h3>User List</h3>
          </v-col>
          <v-col cols="auto">
            <search-box
              v-model="searchInput"
              @on-search="onSearch()" />
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12">
            <v-data-table
              v-model="selectedUser"
              :headers="headers"
              :items="users"
              :loading="loading"
              show-select
              single-select
              hide-default-footer>
            </v-data-table>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="6"
            lg="2">
            <v-btn
              width="100%"
              color="#444444"
              dark
              @click="onClose()">
              Back
            </v-btn>
          </v-col>
          <v-col
            cols="6"
            lg="2">
            <v-btn
              width="100%"
              color="#EC423A"
              dark
              @click="onSelect()">
              Confirm
            </v-btn>
          </v-col>
          <v-spacer />
          <v-col
            cols="12"
            lg="6"
            order="first"
            order-lg="last">
            <v-pagination
              id="pagination"
              v-model="page"
              :length="pageCount"
              :total-visible="7"
              circle
              color="#F44336" />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex'
import SearchBox from '../../../components/SearchBox.vue'
import UserProvider from '../../../resources/users.provider'

const UserService = new UserProvider()

export default {
  components: { SearchBox },
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      loading: false,
      headers: [
        {
          text: 'UID',
          align: 'center',
          sortable: false,
          value: 'uid',
          class: 'table-header'
        },
        {
          text: 'Display Name',
          align: 'center',
          sortable: false,
          value: 'displayName',
          class: 'table-header'
        }
      ],
      users: [],
      selectedUser: [],
      searchInput: '',
      page: 1,
      pageCount: 1,
      itemsPerPage: 10
    }
  },
  computed: {
    dialog: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  watch: {
    page () {
      this.fetchUsers()
    },
    dialog () {
      this.fetchUsers()
    }
  },
  created () {
    this.fetchUsers()
  },
  methods: {
    ...mapActions({
      setSnackbar: 'Snackbar/setSnackbar'
    }),
    async fetchUsers (isClear = false) {
      try {
        this.loading = true

        if (isClear) {
          this.page = 1
          this.users = []
        }

        const { data } = await UserService.getAllUsers({
          page: this.page,
          limit: this.itemsPerPage,
          search: this.searchInput || null
        })

        this.users = data.results
        this.pageCount = data.pages
      } catch (error) {
        console.error('fetchUsers', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    onSearch () {
      this.fetchUsers(true)
    },
    onClose () {
      this.$emit('input', false)
      this.selectedUser = []
    },
    onSelect () {
      this.$emit('on-select', this.selectedUser[0])
      this.selectedUser = []
    }
  }
}
</script>

<style>
.table-header {
  color: #EC423A !important;
}
#pagination .v-pagination {
  justify-content: flex-start;
}
</style>
