<template>
  <v-container>
    <v-form
      ref="form"
      v-model="validate">
      <v-row align="baseline">
        <v-col
          cols="12"
          lg="4">
          <v-select
            v-model="formData.zodiac"
            :items="answerList.zodiac"
            item-text="label"
            item-value="value"
            label="Zodiac"
            hide-details
            required />
        </v-col>
        <v-col
          cols="12"
          lg="4">
          <v-select
            v-model="formData.birth"
            :items="answerList.birth"
            item-text="label"
            item-value="value"
            label="Birth"
            hide-details
            required />
        </v-col>
        <v-col
          cols="12"
          lg="4">
          <v-select
            v-model="formData.luck"
            :items="answerList.luck"
            item-text="label"
            item-value="value"
            label="Luck"
            hide-details
            required />
        </v-col>
        <v-col cols="12">
          <span class="mb-1">Images</span>
          <div class="image-uploader">
            <image-uploader
              v-model="uploadedImages"
              :max-file="1" />
          </div>
        </v-col>
      </v-row>
      <v-row justify="end">
        <v-col
          cols="6"
          lg="3">
          <v-btn
            width="100%"
            color="#EC423A"
            dark
            @click="onSubmit()">
            Submit
          </v-btn>
        </v-col>
        <v-col
          cols="6"
          lg="3">
          <v-btn
            width="100%"
            color="#444444"
            dark
            @click="onClose()">
            Back
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import UploaderProvider from '../../../resources/uploader.provider'
import Answers from '../../../assets/json/answers.json'
import ImageUploader from '../../../components/ImageUploader.vue'

const UploaderService = new UploaderProvider()

export default {
  components: { ImageUploader },
  props: {
    value: {
      type: Object,
      default: () => {}
    },
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      textBoxRules: [
        (v) => !!v || 'Field is required!'
      ],
      answerList: Answers,
      uploadedImages: [],
      isShowSelector: false,
      validate: false
    }
  },
  computed: {
    formData: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  mounted () {
    if (this.formData.image) {
      this.uploadedImages = [
        {
          file: null,
          preview: this.formData.image,
          mediaUrl: this.formData.image
        }
      ]
    }
  },
  methods: {
    ...mapActions({
      setSnackbar: 'Snackbar/setSnackbar',
      setLoading: 'Loading/setLoading'
    }),
    async onSubmit () {
      try {
        this.setLoading(true)

        if (!this.uploadedImages.length) {
          throw Error('Please select image.')
        }

        if (this.$refs.form.validate()) {
          if (this.uploadedImages[0]?.file) {
            const { data: image } = await UploaderService.uploadFile(this.uploadedImages[0].file)
            this.formData.image = image.public_url
          }

          this.$emit('on-submit')
        }
      } catch (error) {
        console.error('onSubmit', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.setLoading(false)
      }
    },
    onClose () {
      this.$emit('on-close')
    }
  }
}
</script>

<style scoped>
.header {
  background-color: #F44336;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;

  position: absolute;
  transform: translateY(-35%);
}
.image-uploader {
  position: relative;
  border-style: dashed;
  border-radius: 10px;
  border-color: gray;
  width: 100%;
  height: 14rem;
}
</style>

<style>
.table-header {
  color: #EC423A !important;
}
#pagination .v-pagination {
  justify-content: flex-end;
}
</style>
