<template>
  <v-app>
    <snackbar />
    <confirm-dialog />
    <loading v-if="loading" />
    <v-navigation-drawer
      id="drawer"
      v-model="drawer"
      :mini-variant.sync="mini"
      app
      permanent
      touchless
      color="#000000">
      <v-list-item class="px-2">
        <v-list-item-title class="text-center">
          <h2 class="font-white">
            Horo4You
          </h2>
        </v-list-item-title>

        <v-btn
          icon
          @click.stop="mini = !mini">
          <v-icon color="white">
            mdi-chevron-left
          </v-icon>
        </v-btn>
      </v-list-item>

      <v-divider class="divider" />

      <v-list
        dense
        nav
        expand>
        <v-list-item-group
          v-for="(item, index) in items"
          :key="`items-${index}`"
          no-action
          mandatory
          color="white">
          <v-list-group
            v-if="item.subMenus"
            :prepend-icon="mini ? item.icon : null"
            no-action
            :value="false"
            :ripple="false"
            color="#ffffff">
            <template #activator>
              <v-list-item-content>
                <v-list-item-title>
                  <v-subheader class="font-white">
                    {{ item.title }}
                  </v-subheader>
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-divider class="divider mb-2" />
            <sub-menu
              v-for="(subMenu, i) in item.subMenus"
              :key="`${item.title}-${subMenu.title}-${i}`"
              :title="subMenu.title"
              :to="subMenu.to"
              :icon="subMenu.icon"
              icon-prepend />
          </v-list-group>
          <sub-menu
            v-else
            :title="item.title"
            :to="item.to"
            :icon="item.icon"
            icon-prepend />
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      v-if="user"
      dense>
      <v-row
        justify="end"
        align="center">
        <v-col
          cols="12"
          md="auto">
          <v-row
            justify="end"
            align="center">
            <v-col cols="2">
              <div class="user-image">
                <span>
                  {{ user.firstName[0] | toCapitalize() }}
                </span>
              </div>
            </v-col>
            <v-col
              cols="auto"
              class="text-center">
              <span>
                {{ `${user.firstName} ${user.lastName}` }}
              </span>
            </v-col>
            <v-col cols="2">
              <v-btn
                color="secondary"
                icon
                small
                :to="{ name: 'Logout' }">
                <v-icon>mdi-logout</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-app-bar>

    <v-main class="mx-3 my-3">
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
    </v-main>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { getAuthDecode } from './utils/auth.utils'
import AdminsProvider from './resources/admins.provider'
import SubMenu from './components/SubMenu.vue'
import Menus from './assets/json/menus.json'
import Snackbar from './components/Snackbar.vue'
import Loading from './components/Loading.vue'
import ConfirmDialog from './components/ConfirmDialog.vue'

const AdminsService = new AdminsProvider()

export default {
  components: { SubMenu, Snackbar, Loading, ConfirmDialog },
  data () {
    return {
      drawer: true,
      mini: false,
      items: Menus
    }
  },
  computed: {
    ...mapGetters({
      user: 'Users/user',
      loading: 'Loading/loading'
    })
  },
  async mounted () {
    const decodeUser = getAuthDecode()
    if (decodeUser) {
      try {
        this.setLoading(true)
        const { data: user } = await AdminsService.getAdminByUsername(decodeUser.username)

        if (!user) {
          this.$router.push({ name: 'Login' })
        }
        this.setUser(user)
      } catch (error) {
        console.error('[MOUNTED] decodeUser', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.setLoading(false)
      }
    }
  },
  methods: {
    ...mapActions({
      setUser: 'Users/setUser',
      setLoading: 'Loading/setLoading',
      setSnackbar: 'Snackbar/setSnackbar'
    })
  }
}
</script>

<style scoped>
.font-white {
  color: white !important;
}
.divider {
  background-color: #636e72;
}
.user-image {
  border-radius: 50%;
  background-color: #636e72;
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.user-image span {
  color: white;
  font-size: 1.25rem;
}
.text-sm {
  font-size: 0.9rem;
}
.text-center {
  text-align: center;
}
</style>

<style>
* {
  font-family: 'Prompt', sans-serif;
}
#drawer .theme--light.v-icon {
  color: white;
}
.v-toolbar {
  flex: 0 1 auto !important;
}
</style>
