<template>
  <v-container
    class="rounded elevation-3 mt-12"
    fluid>
    <div class="header ml-4">
      <v-icon
        color="white"
        large>
        mdi-math-log
      </v-icon>
    </div>

    <v-row
      class="mt-10"
      justify="end">
      <v-col
        class="mt-10"
        cols="12">
        <v-row
          no-gutters
          justify-md="end"
          align="baseline">
          <v-col
            cols="12"
            lg="2">
            <v-select
              v-model="query.zodiac"
              :items="zodiacList"
              item-text="label"
              item-value="value"
              label="Zodiac"
              class="query-box"
              outlined
              dense
              hide-details
              required />
          </v-col>
          <v-col
            cols="12"
            lg="2">
            <v-select
              v-model="query.birth"
              :items="birthList"
              item-text="label"
              item-value="value"
              label="Birth"
              class="query-box"
              outlined
              dense
              hide-details
              required />
          </v-col>
          <v-col
            cols="12"
            lg="2">
            <v-select
              v-model="query.luck"
              :items="luckList"
              item-text="label"
              item-value="value"
              label="Luck"
              class="query-box"
              outlined
              dense
              hide-details
              required />
          </v-col>
          <v-col
            cols="12"
            md="auto">
            <search-box
              v-model="query.search"
              class="query-box"
              @on-search="fetchAnswerLogs(true)" />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="answerLogs"
          :loading="loading"
          hide-default-footer>
          <template #[`item.receiver`]="{ item }">
            <span>{{ getReceiver(item.receiver) }}</span>
          </template>
          <template #[`item.zodiac`]="{ item }">
            {{ getAnswer(item.zodiac, 'zodiac') }}
          </template>
          <template #[`item.birth`]="{ item }">
            {{ getAnswer(item.birth, 'birth') }}
          </template>
          <template #[`item.luck`]="{ item }">
            {{ getAnswer(item.luck, 'luck') }}
          </template>
          <template #[`item.image`]="{ item }">
            <div class="image-container">
              <img
                v-if="item.image"
                :src="item.image"
                alt="profile"
                @click="showPreview(item)">
              <span
                v-else
                class="font-bold">
                No Image
              </span>
            </div>
          </template>
          <template #[`item.action`]="{ item }">
            <v-btn
              class="mx-1"
              color="#E91E63"
              fab
              x-small
              :disabled="loading"
              @click="confirmDialogToggle(item)">
              <v-icon color="white">
                mdi-delete-variant
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
      <v-col cols="12">
        <v-pagination
          id="pagination"
          v-model="page"
          :length="pageCount"
          :total-visible="7"
          circle
          color="#F44336" />
      </v-col>
    </v-row>
    <image-previewer
      v-if="isShowPreview"
      :image-url="selectedAnswerLog.image"
      @on-close="closePreview()" />
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import AnswerLogsProvider from '../../../resources/answer-logs.provider'
import Answers from '../../../assets/json/answers.json'
import ImagePreviewer from '../../../components/ImagePreviewer.vue'
import SearchBox from '../../../components/SearchBox.vue'

const AnswerLogsService = new AnswerLogsProvider()

export default {
  components: { ImagePreviewer, SearchBox },
  data () {
    return {
      loading: false,
      headers: [
        {
          text: 'Receiver',
          align: 'center',
          sortable: false,
          value: 'receiver',
          class: 'table-header'
        },
        {
          text: 'Zodiac',
          align: 'center',
          sortable: false,
          value: 'zodiac',
          class: 'table-header'
        },
        {
          text: 'Birth',
          align: 'center',
          sortable: false,
          value: 'birth',
          class: 'table-header'
        },
        {
          text: 'Luck',
          align: 'center',
          sortable: false,
          value: 'luck',
          class: 'table-header'
        },
        {
          text: 'Image',
          align: 'center',
          sortable: false,
          value: 'image',
          class: 'table-header'
        },
        {
          text: 'Action',
          align: 'center',
          sortable: false,
          value: 'action',
          class: 'table-header'
        }
      ],
      answerList: Answers,
      zodiacList: [
        {
          label: 'ทั้งหมด',
          value: null
        },
        ...Answers.zodiac
      ],
      birthList: [
        {
          label: 'ทั้งหมด',
          value: null
        },
        ...Answers.birth
      ],
      luckList: [
        {
          label: 'ทั้งหมด',
          value: null
        },
        ...Answers.luck
      ],
      answerLogs: [],
      query: {
        zodiac: null,
        birth: null,
        luck: null,
        search: ''
      },
      page: 1,
      pageCount: 1,
      itemsPerPage: 10,
      isShowPreview: false,
      selectedAnswerLog: null
    }
  },
  watch: {
    page () {
      this.fetchAnswerLogs()
    },
    'query.zodiac': {
      handler () {
        this.fetchAnswerLogs(true)
      },
      deep: true
    },
    'query.birth': {
      handler () {
        this.fetchAnswerLogs(true)
      },
      deep: true
    },
    'query.luck': {
      handler () {
        this.fetchAnswerLogs(true)
      },
      deep: true
    }
  },
  created () {
    this.fetchAnswerLogs()
  },
  methods: {
    ...mapActions({
      setSnackbar: 'Snackbar/setSnackbar',
      setDialog: 'ConfirmDialog/setDialog'
    }),
    getReceiver (receiver) {
      if (!receiver || !receiver?.uid) {
        return '-'
      }

      return `${receiver?.displayName || '-'} (${receiver.uid})`
    },
    getAnswer (item, type) {
      const ans = this.answerList[type]?.find((z) => z.value === item)

      return ans?.label || item
    },
    async fetchAnswerLogs (isClear = false) {
      try {
        this.loading = true

        if (isClear) {
          this.page = 1
          this.answerLogs = []
        }

        const { data } = await AnswerLogsService.getAllAnswerLogs({
          page: this.page,
          limit: this.itemsPerPage,
          zodiac: this.query.zodiac,
          birth: this.query.birth,
          luck: this.query.luck,
          search: this.query.search
        })

        this.answerLogs = data.results
        this.pageCount = data.pages
      } catch (error) {
        console.error('fetchAnswerLogs', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    confirmDialogToggle (answer) {
      this.setDialog({
        active: true,
        title: 'Confirmation',
        text: 'Do you want to delete this answer log?',
        onConfirm: () => this.removeAnswerLog(answer)
      })
    },
    async removeAnswerLog (answer) {
      try {
        this.loading = true

        await AnswerLogsService.deleteAnswerLogById(answer.id)

        this.setSnackbar({
          active: true,
          text: 'Delete Answer Successfully.',
          type: 'success',
          timeout: 2000
        })

        this.fetchAnswerLogs(true)
      } catch (error) {
        console.error('removeAnswerLog', error)
        this.setSnackbar({
          active: true,
          text: error?.message || error,
          type: 'error',
          timeout: 2000
        })
      } finally {
        this.loading = false
      }
    },
    showPreview (user) {
      this.isShowPreview = true
      this.selectedAnswerLog = { ...user }
    },
    closePreview () {
      this.isShowPreview = false
      this.selectedAnswerLog = null
    }
  }
}
</script>

<style scoped>
.header {
  background-color: #F44336;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;

  position: absolute;
  transform: translateY(-35%);
}
.capitalize {
  text-transform: capitalize;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
}
.image-container img {
  padding: 5px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.font-bold {
  font-weight: 600;
}
.query-box {
  margin: 0 4px;
}

@media screen and (max-width: 768px) {
  .query-box {
    margin: 4px 0;
  }
}
</style>

<style>
.table-header {
  color: #EC423A !important;
}
#pagination .v-pagination {
  justify-content: flex-end;
}
</style>
